Add a warning when the number of mailto:'s is more than two

[RFC 7489, section 6.2](https://tools.ietf.org/html/rfc7489#section-6.2) says

>Receivers MAY impose a limit on the number of URIs to which they will send reports but MUST support the ability to send to at least two.

E.g., all NASA SLDs currently have 3 mailto:s. We should consider adding a warning when this is detected.