The definition of 'Valid DMARC' should be tightened

Here's some considerations for making `Valid DMARC` be False in a few cases. In these instances, the `--debug` output and _somewhere else_ (depending on #27) should include some rationale for why the domain was scored False.

In some cases, perhaps changing the scoring of`Valid DMARC` isn't the right approach, but adding some new `compliance=yes` key is in order (similar to how [pshtt](https://github.com/dhs-ncats/pshtt/blob/master/pshtt/pshtt.py#L49-L50) has `Domain Supports HTTPS`, `Domain Enforces HTTPS`, and `Domain Uses Strong HSTS`)

1. If a TXT record at _dmarc.domain.gov includes only `v=DMARC1` but no policy. 

2. For at least where `p=none` or `p=quarantine`, when a `rua=` recipient isn't defined.

2. The DMARC RFC details how, if an organization is having DMARC reports from X domain being sent to a host at Y domain, Y domain must create a TXT record in their DNS (either a wildcard indicating they'll take reports from ANY domain, or by prepending the string `_report._dmarc` to the X domain). 

So, for aging.gov, where an Agari `rua=` mailto: is specified, we'd verify that there is a DMARC record at aging.gov._report._dmarc.rua.agari.com. There is:

```bash
$ host -t txt aging.gov._report._dmarc.rua.agari.com
aging.gov._report._dmarc.rua.agari.com descriptive text "v=DMARC1"
```

If a reply comes back with no DMARC record, `Valid DMARC` is false. (See [RFC 7489, section 7.1](https://tools.ietf.org/html/rfc7489#section-7.1) for details.)

3. [BOD 18-01](https://cyber.dhs.gov/#ii-required-actions) requires agencies set `p=reject` by [mid-October 2018](https://cyber.dhs.gov/guide/#checklist). The intent is for the second-level domain and all subdomains to be covered by this policy. However, it's possible an agency could set a subdomain DMARC policy of none (`sp=none`) while `p=reject`, end-running around the intent. 


> BOD 18-01 requires agencies set p=reject by mid-October 2018. The intent is for the second-level domain and all subdomains to be covered by this policy. However, it's possible an agency could set a subdomain DMARC policy of none (sp=none) while p=reject, end-running around the intent.

I was wondering what the intent of DHS was going to be here. So you would need to scan all the subdomains too, not just the parent domains, to see if any holes are being cut out among subdomains.

What's interesting here is that you would treat absence of any DMARC records differently: absence of any record is failure in the parent zone case, but expected behavior in the subdomain case. It's only if a subdomain explicitly adds a p=none or (p=quarantine?) policy.