Treat multiple DMARC policy records at a domain as an error

bfem.gov currently has two DMARC policy records:

```bash
$ host -t txt _dmarc.bfem.gov
_dmarc.bfem.gov descriptive text "v=DMARC1;p=none;pct=100;rua=mailto:dl_treasurydmarcrua@treasury.gov;ruf=mailto:dl_treasurydmarcruf@treasury.gov;rua=mailto:DMARC_RUA_bfem.gov@epa.gov;ruf=mailto:DMARC_RUF_bfem.gov@epa.gov;fo=1"
_dmarc.bfem.gov descriptive text "rua=mailto:reports@dmarc.cyber.dhs.gov;ruf=mailto:reports@dmarc.cyber.dhs.gov;"
```
Aside from the errant address in that latter ruf=, trustymail should treat multiple DMARC policy records the same as when there are no DMARC policy records at a second-level domain. From [RFC 7486, section 6.6.3](https://tools.ietf.org/html/rfc7489#section-6.6.3) (number 5), in describing the DNS lookup scheme:

>If the remaining set contains multiple records or no records, policy discovery terminates and DMARC processing is not applied to this message.

Obviously, trustymail shouldn't terminate but should represent this in the debug log as an error, and `DMARC Record`/`DMARC Record on Base Domain` should be made False.

An error or a syntax error?

Well, I think collapsing both those to just a single "debug" field, where network and syntax errors get a `[network]:` or `[syntax]:` label, is a nice usability touch-- though that's probably worth its own issue. What say ye?

I think it will be harder to read that way due to:
1. Multiple labels per line (`[network]: [DMARC]: Blah blah blah`)
2. The `[network]` and `[syntax]` messages being interleaved

That said, I am fine with doing whatever.  I do think that, since changing the output columns of `trustymail` requires corresponding changes to `domain-scan` and `saver`, we should think about consolidating these minor output changes into one big pull request.

Interestingly, the issue you pointed out is intermittent.  I suspect they have redundant DNS servers and only one of them is misconfigured.

I will have a pull request for this soon.

@jsf9k, I notified Treasury about the bfem.gov issue last night and they responded; they are hopefully testing.

👍 on writing these to `Errors`.